@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --star-size-min: 2px;
  --star-size-max: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SCDream3";
}

.bold {
  font-family: "SCDream9";
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: moveUp 50s linear infinite, twinkling 1s linear infinite;
}

.swiper-button-next,
.swiper-button-prev {
  color: #d2e0fb; /* 원하는 색상으로 변경 (예: tomato 색상) */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #d2e0fb; /* Hover 시 색상 변경 */
}

.swiper-pagination-bullet {
  background: #cccccc; /* 점의 기본 색상 */
  width: 7px; /* 점의 너비 */
  height: 7px; /* 점의 높이 */
  opacity: 1; /* 투명도 설정 */
  border-radius: 50%; /* 원형 점 */
}

/* 현재 활성화된 페이지네이션 점 */
.swiper-pagination-bullet-active {
  background: #d2e0fb; /* 활성화된 점의 색상 (토마토 색상) */
  width: 10px; /* 활성화된 점의 크기 */
  height: 10px;
}

@keyframes moveUp {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes twinkling {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "SCDream3";
  src: url("/fonts/SCDream3.woff2") format("truetype");
}

@font-face {
  font-family: "SCDream9";
  src: url("/fonts/SCDream9.woff2") format("truetype");
}
